<div class="container-fluid aboutContainer" 
[ngClass]="{'d-none': (changes.currentValue == undefined ? true : false),
 'animationOpen': (changes.currentValue == true ? true : false),
 'animationClose': (changes.currentValue == false ? true : false)}"
 >
    <div class="row h-100 d-none d-lg-flex d-xl-flex">
        <div class="col pr0">            
            <div class="section br">
                <div class="d-grid content">
                    <div class="label">
                        <u>Sobre Nosotros</u>
                    </div>
                    <div class="text">
                        {{aboutUsText}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col pr0 pl0">
            <div class="section">
                <div class="d-grid content">
                    <div class="label">
                        <u>Contactos</u>
                    </div>
                    <div class="d-grid text">
                        <div class="d-flex cursorHand pb" style="width: fit-content">
                            <i class="bi bi-instagram"></i>
                            <div class="cEntry" (click)="redirectInstagram()">
                                {{'Instagram: '}}&nbsp;&nbsp;{{'@'}}<i>menu_musical_barcelona</i>
                            </div>
                        </div>
                        <div class="d-flex pb" style="width: fit-content">
                            <i class="bi bi-envelope"></i>
                            <div class="cEntry">
                                {{'Email: '}}&nbsp;&nbsp;<i>{{'menumusicalbcn@gmail.com'}}</i>
                            </div>
                        </div>
                        <div class="d-flex cursorHand pb" style="width: fit-content">
                            <i class="bi bi-heart-fill"></i>
                            <div class="cEntry" (click)="redirectKofi()">
                                {{'Apóyanos : '}}&nbsp;&nbsp;<i>{{'ko-fi'}}</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col pl0">
            <div class="section bl d-flex align-items-end justify-content-end">
                <div class="d-grid content">
                    <div class="text">
                        © 2025 Gabriele Trabucco,
                        Reservados todos los derechos.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col h-100 d-block d-lg-none d-xl-none">
        <div class="row pr0">            
            <div class="section">
                <div class="d-grid content pb-mobile">
                    <div class="label-aboutUS-mobile">
                        <u>Sobre Nosotros</u>
                    </div>
                    <div class="text">
                        {{aboutUsText}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row pr0 pl0">
            <div class="section">
                <div class="d-grid content bt bb pb-mobile">
                    <div class="label-contacts-mobile">
                        <u>Contactos</u>
                    </div>
                    <div class="d-grid text">
                        <div class="d-flex cursorHand pb" style="width: fit-content">
                            <i class="bi bi-instagram"></i>
                            <div class="cEntry" (click)="redirectInstagram()">
                                {{'Instagram: '}}&nbsp;&nbsp;{{'@'}}<i>menu_musical_barcelona</i>
                            </div>
                        </div>
                        <div class="d-flex pb" style="width: fit-content">
                            <i class="bi bi-envelope"></i>
                            <div class="cEntry">
                                {{'Email: '}}&nbsp;&nbsp;<i>{{'menumusicalbcn@gmail.com'}}</i>
                            </div>
                        </div>
                        <div class="d-flex cursorHand pb" style="width: fit-content">
                            <i class="bi bi-heart-fill"></i>
                            <div class="cEntry" (click)="redirectKofi()">
                                {{'Apóyanos : '}}&nbsp;&nbsp;<i>{{'ko-fi'}}</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pl0">
            <div class="section d-flex align-items-end justify-content-center">
                <div class="d-grid content pl0">
                    <div class="label-copyright-mobile text">
                        © 2025 Gabriele Trabucco,
                        Reservados todos los derechos.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
