.logo-container {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.56rem;
    width: 9.38rem;
    height: 9.38rem;
}

.navbar {
    //justify-content: space-between; //removed logo
    justify-content: flex-end;
    padding: 0;
}

.logo {
    background-color: #EAEAEA;
    border-radius: 50%;
    display: inline-block;
    padding: 0.31rem;
    width: 6.25rem;
    height: 6.25rem;
    background-image: url(../../../assets/img/logo_B.svg);
    background-size: 100%;

    &:hover {
        background-color: black;
        background-image: url(../../../assets/img/logo_W.svg);
        background-size: 100%;
    }
}

.text-logo {
    display: inline-block;
    padding: 0.31rem;
    width: 18.75rem;
    height: 6.25rem;
    background: url(../../../assets/img/text_logo_W.svg) 50% 50% no-repeat;
    background-size: 100%;

    &:hover {
        background-image: url(../../../assets/img/text_logo_B.svg);
        background-size: 100%;
    }
}