<app-navbar class="w-100" style="z-index: 10; position: absolute;"></app-navbar>

<div class="container" style="z-index: 1;">
  <div class="row w-100 h-75 m-0">
    <div class="col w-100 h-100 section imgPodcast">
      <app-section [data]="dataPodcast" class="w-100 h-100"></app-section>
    </div>
    <div class="col w-100 h-100 section imgCalendar">
      <app-section [data]="dataCalendar" class="w-100 h-100"></app-section>
    </div>
    <div class="col w-100 h-100 section imgStudio">
      <app-section [data]="dataStudio" class="w-100 h-100"></app-section>
    </div>
  </div>
  <div class="row w-100 h-25 m-0">
    <div class="col w-100 h-100 section imgFormulario">
      <app-section [data]="dataForm" class="w-100 h-100"></app-section>
    </div>
  </div>
</div>