
.scroll-down {
    position: fixed;
    left: 45%;
    bottom: 2.75rem;
    text-align: center;
    width: 1.875rem;
    height: 1.875rem;
    font-size: 1.25rem;
    text-decoration: solid;
    text-shadow: 0;
    border-bottom: 0.5rem solid white;
    border-right: 0.5rem solid white;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
}

.pointerEventNone {
  pointer-events: none;
}

@media only screen and (max-width: 576px) {
  .about {
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .about {
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .about {
    z-index: 1;
    display: block;
    width: 100%;
    height: 30%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media only screen and (min-width: 1201px) {
  .about {
    z-index: 1;
    display: block;
    width: 100%;
    height: 30%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}